<div class="card">
    <div class="card-header">
        <h4>Edit Contacts</h4>
    </div>
</div>

<div class="row" *ngIf="showDetails">
    <div class="col-12 col-md-7">
        <div class="card">
            <div class="card-body p-0">
                <div class="form-panel">
                    <div class="row">
                        <form [formGroup]="editData" (ngSubmit)="updateData(this.contact_id)">
                           
                            <div class="modal-body">
                            
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="department">Campaign</label>
                                            <input type="text" id="camp_names" class="form-control" formControlName="campigen">
                                           
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="customer_name">Customer Name</label>
                                            <input type="text" id="customer_name" class="form-control" formControlName="customer_name">
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="address">Address</label>
                                            <input type="text" id="address" class="form-control" formControlName="address">
                                        </div>
                                    </div> 
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="city">City</label>
                                            <input type="text" id="city" class="form-control" formControlName="city">
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="state">State</label>
                                            <input type="text" id="state" class="form-control" formControlName="state">
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="zipcode">Zipcode</label>
                                            <input type="text" id="zipcode" class="form-control" formControlName="zipcode">
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="country">Country</label>
                                            <input type="text" id="country" class="form-control" formControlName="country">
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="phone_number">Phone Number</label>
                                            <input type="text" id="phone_number" class="form-control" formControlName="phone_number">
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="source_data">Source Data</label>
                                            <input type="text" id="source_data" class="form-control" formControlName="source_data">
                                        </div>
                                    </div> 

                                     <!-- <select name="camp_name"  id="camp_names" class="form-control" >
                                                
                                                <option value='0'> Select Campaign </option>
                                                <option *ngFor="let auxcode of auxcodes" value="{{auxcode.camp_id}}">{{auxcode.camp_name}}</option>
                                            </select> -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="department">Wrap Up</label>
                                                   
                                                
                                                <!-- <option value='0'> Select  </option> -->
                                                <select name="camp_name" id="aux_code" class="form-control">
                                                    <option value='0'>Select </option>
                                                    <option value='dnd'>DND</option>
                                                    <option value='interested'>Interested</option>
                                                    <option value='unanswered'>No Answer</option>
                                                    <option value='answered'>Answer</option>
                                                    <option value='call-back'>Call Back</option>
                                                    <option value='fax&vm'>Fax & VM</option>                                            
                                                </select>
                                                <!-- <option *ngFor="let auxcode of auxcodes" value="{{auxcode.auxcode_name}}">{{auxcode.auxcode_name}}</option>
                                            </select> -->
                                                   
                                                </div>
                                            </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="notes">Notes</label>
                                            <input type="text" id="notes" class="form-control" formControlName="notes">
                                        </div>
                                    </div> 
                                </div>

                            </div>


                            <div class="modal-footer">
                                <div class="buttons">
                                    <!-- <input type="button" data-dismiss="modal"  routerLink="/campaign-contact-details" class="btn btn-outline-secondary" value="Cancel"> -->
                                    <input type="submit" class="btn btn-primary update_agent" value="Update" [disabled]="!editData.valid">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row" *ngIf="listPhones">
    <div class="col-12 col-md-7">
        <div class="card">
            <div class="card-body p-0">
                <div class="form-panel">
                    <div class="row">
                        <div class="modal-body">
                            
                            <div class="row">
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-md">
                
                                            <tr>
                                                <th>S.no </th>
                                                <th>Campaign</th>
                                                <th>Number</th>
                                                <th>Action</th>
                                            </tr>
                
                                            <tbody>
                                                <tr *ngFor="let queue of phoneLists; let i=index">
                                                    <td>{{0+i+1}}</td>
                                                    <td>{{queue.campaign_id}}</td>
                                                    <td>{{queue.phone_number}}</td>
                                                    <td>
                                                        <span  class="user-icon" style="cursor: pointer;"><i class="fas fa-edit" (click)="editContact(queue.id)"></i></span> 
                                                    </td>
                                                </tr>
                
                                                <tr *ngIf="recordNotFound == true">
                                                 <td colspan="12">Data not found</td>
                                             </tr>
                
                                         </tbody>
                
                                     </table>
                                 </div>
                             </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>