.blk-clr{
    color: #00bcd4 !important;
    }
    
    #loading {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('../../assets/img/Ripple.gif') center no-repeat;
    }
    .loading-hide{
    display: none;
    }
    
    .padding-15 {
        padding: 15px;
    }
    .loading-show{
    display: block;
    }
    .dropdown-button{
        margin-left: 5px;width: 190px;position: fixed;bottom: -23px;
    }