<div class="section-body edit-form">

    <div class="card">
        <div class="card-header justy">
            <h4>Contact Details</h4>
            <input type="submit" class="btn btn-primary"  data-dismiss="modal" (click)="predictactivity(this.phone_number)" value="Activity">
        </div>
    </div>

    <div class="row">

        <div class="col-12 col-md-7">
            <div class="card">
                <div class="card-body p-0">
                    <div class="form-panel">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contact_owner">Contact Owner</label>
                                    <input type="text" id="contact_owner" class="form-control" value="{{this.customer_name}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="department">Campaign</label>
                                    <select name="camp_name"  id="camp_names" class="form-control">
                                        <option *ngFor="let auxcode of campaigns" value="{{auxcode.camp_id}}">{{auxcode.camp_name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Phone Number</label>
                                    <input type="text" id="email"   class="form-control" value="{{this.phone_number}}"  >
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">address</label>
                                    <input type="text" id="email"   class="form-control"   value="{{this.address}}">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">city</label>
                                    <input type="text" id="email"   class="form-control"  value="{{this.city}}" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">country</label>
                                    <input type="text" id="email"   class="form-control"  value="{{this.country}}" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">state</label>
                                    <input type="text" id="email"   class="form-control"  value="{{this.state}}" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">zipcode</label>
                                    <input type="text" id="email"   class="form-control" value="{{this.zipcode}}"  >
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">queue_status</label>
                                    <input type="text" id="email"   class="form-control"  value="{{this.queue_status}}"   >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">source_data</label>
                                    <input type="text" id="email"   class="form-control"  value="{{this.source_data}}" >
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">updated_at</label>
                                    <input type="text" id="email"   class="form-control" value="{{this.updated_at}}"  >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" id="email"   class="form-control"  >
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="card">
                <div class="card-body p-0">
                    <div class="form-panel">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wrapup">Wrap up Code</label>
                                    <select name="wrapup"  id="wrapup" class="form-control">
                                        <option value='0'>Select Wrapups</option>
                                        <option value='dnd'>DND</option>
                                        <option value='interested'>Interested</option>
                                        <option value='unanswered'>No Answer</option>
                                        <option value='answered'>Answer</option> 
                                        <option value='call-back'>Call Back</option>
                                        <option value='fax&vm'>FAX & VM</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="buttons">
                                        <input type="button" data-dismiss="modal" class="btn btn-outline-secondary" value="Cancel">
                                        <input type="submit" class="btn btn-primary update_agent" value="Submit" (click)="changeStatus()">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

