.navbar .nav-link.nav-link-user img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.queue-login-status {
    padding: 4px 3px 0 3px;
    float: right;
    line-height: 0;
}

.theme-black .QueueLogIn .fas.mainQ {
    color: #68cc35ed !important;
}
li.dropdown.disabled {
    display: none;
}
.theme-black .QueueLogOut .fas.mainQ {
    color: #ef1a1a;
}

.navbar .nav-link.nav-link-user img {width: 35px;height: 35px;object-fit: cover;}
.queue-login-status {padding: 4px 3px 0 3px;float: right;line-height: 0;}
.theme-black .QueueLogIn .fas.mainQ {color: #68cc35ed !important;}
li.dropdown.disabled {display: none;}
.theme-black .QueueLogOut .fas.mainQ { color: #ef1a1a;}
#sidebar-wrapper {border-right: 1px solid #e7e7e7;}
ul#sidemenu, .panel-collapse{padding: 0;}
#sidebar-wrapper .sidebar-nav li {text-indent: 0;line-height: 45px;}
.menu-header{color:#fff; }
#sidebar-wrapper .sidebar-nav li a {display: block;text-decoration: none;color: #fff;}
#sidebar-wrapper .sidebar-nav li a .sidebar-icon {width: 45px;height: 45px;font-size: 14px;padding: 0 2px;display: inline-block;text-indent: 7px;margin-right: 10px;color: #fff;float: left;} 
#sidebar-wrapper .sidebar-nav li a .caret {position: absolute;right: 23px;top: auto;margin-top: 20px;}
#sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {margin-right: 10px;}
#sidebar-wrapper .sidebar-nav li ul.panel-collapse li {text-indent: 10px;}
#sidebar-wrapper .sidebar-nav li a.accordion-toggle{position: relative;}
#sidebar-wrapper .sidebar-nav li a.accordion-toggle:after {content: "";font-family: "Font Awesome 5 Free";font-weight: 900;position: absolute;top: 50%;right: 20px;transform: translate(0, -50%);font-size: 14px;}
.sidebar-nav li a:hover{background-color: #60686f;color: #fff!important;}
ul.panel-collapse{text-indent: 10px;}


.inactive{
    color: #8d8d8d;
}

.active{
    color: black;
}

.voicemail-icons{
    font-size: 18px;
}
.modal {
    overflow-y:auto;
  }

  .mc-count-update{
    position: absolute;
    background-color: #e05b4a;
    z-index: 1;
    width: 36px;
    height: 14px;
    right: -2px;
    top: -18px;
    border-radius: 58%;
    text-align: center;
    color: white;
    line-height: 13px;
    font-weight: 600;
    font-size: 12px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 11px;
    height: 60px;
    color: #626c80;
    font-weight: 600;
    text-align: center;
}
.google_translate_element{
    position:left;border-left: 113px; 
    background-color: black;
    -webkit-text-fill-color: white;
    margin-right: 15px;
     margin-top: 7px;border-radius: 3px;
     border-radius: 3px;
}
