
<div class="section-body">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Webinars</h4>
                    <div class="addBtn">
                        <button type="button" class="btn btn-primary" (click)="add_data()"> + Add</button>
                     </div> 
                    <!-- <div class="addBtn"> -->
                        <!-- <button type="button" class="btn btn-primary" (click)="createwebinar()">+ New Webinar</button> -->
                        <input type="hidden" id="loadList" (click)="webinarList()">
                    <!-- </div> -->
					<!-- <a href="https://omni.mconnectapps.com/api/v1.0/pro_contents/pro_sms_temp.pdf" target="_blank"><i style="font-size:24px;padding-left: 20px;" class="fa fa-exclamation-circle"></i></a> -->

                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                       <table class="table table-bordered table-striped table-md">
                         
                        <tr>
                            <th>S.no </th>
                            <th>Title</th>
                            <th>Scheduled Date & Time</th>
                            <th>Duration</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>

                        <tbody>
                            <tr *ngFor="let item of Mqueue_list;  let i=index">
                                <td>{{0+i+1}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.created_at |date:'MMM dd, yyyy HH:mm'}}</td>
                                <td>{{item.duration}} Mins</td>
                                <td>{{item.status}}</td>


                                    <td>
                                        <span class="user-icon" style="cursor: pointer;"><i class="fa fa-users" (click)="viewwebinar(item.meetingid)"></i></span>
                                        <span class="user-icon" style="cursor: pointer;"><i class="far fa-trash-alt" (click)="deletedata(item.meetingid)"></i></span>
                                        <!-- <span class="user-icon" style="cursor: pointer;"><i class="fa fa-link" <a href="https://omni.mconnectapps.com/webinar-template/3cx-webinors/?meeting='+meetingid" target="_blank" >Linktext</a>></i></span> -->
                                        <a href="https://omni.mconnectapps.com/webinar-template/3cx-webinors/?meeting={{item.meetingid}}"><i STYLE="color:black" class="fa fa-link"></i></a>
                                        <span class="user-icon" style="cursor: pointer;"><i class="fas fa-edit" data-target="#edit_data"(click)="editForm(item.meetingid)"></i></span>
                                        <!-- {{item.meetingid}}  -->
                                    </td>
                                </tr>
                            <tr *ngIf="recordNotFound == true">
                             <td colspan="12">Data not found</td>
                         </tr>
                     </tbody>
                     
                 </table>
               </div>
           </div>
         
       </div>
     </div>
  </div>
</div>




<div class="modal fade bd-example-modal-md" id="edit_deptform">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
                <div class="modal-header"> 
                    <h5 class="modal-title" >Update</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <div class="row">


                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="template">Webinar Logo</label>
                                <input type="file" id="u_webinar_logo" class="form-control">  
                                <input type="hidden" id="u_id">
                                <img src='' id='webinar_m_logo' style="width: 100px; height: auto">                       
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="department">Title</label>
                                <input type="text" id="u_webinar_title" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="from_date">Scheduled Date </label>
                                <input type="datetime-local" id="u_from_date" class="form-control" >
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="duration">Duration</label>
                                <select id="u_duration" class="form-control">
                                    <option value="5">5 Mins</option>
                                    <option value="10">10 Mins</option>
                                    <option value="15">15 Mins</option>
                                    <option value="20">20 Mins</option>
                                    <option value="25">25 Mins</option>
                                    <option value="30">30 Mins</option>
                                    <option value="35">35 Mins</option>
                                    <option value="40">40 Mins</option>
                                    <option value="45">45 Mins</option>
                                    <option value="50">50 Mins</option>
                                    <option value="55">55 Mins</option>
                                    <option value="60">60 Mins</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="template">Webinar Description</label>
                                <textarea type="text" id="u_webinar_description" class="form-control"></textarea>                      
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="template">Webinar Description Image</label>
                                <input type="file" id="u_webinar_descriptionImage" class="form-control">   
                                <img src='' id='webinar_m_descriptionImage' style="width: 100px; height: auto">                       
                            </div>
                        </div>
                        
                        <!-- <div class="col-md-12">
                            <div class="form-group">
                                <label for="status">Status</label>
                                <input type="checkbox" id="status" class="form-control" formControlName="status">
                            </div>
                        </div> -->
                    </div>

                </div>

                <div class="modal-footer">
                    <div class="buttons">
                        <input type="button" data-dismiss="modal" class="btn btn-outline-secondary" value="Cancel">
                        <input type="button" (click)="editWebinar()" class="btn btn-primary update_agent" value="Submit" >
                    </div>
                </div>
        </div>
    </div>
</div>






<div class="modal fade bd-example-modal-md" id="add_deptform">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Add webinar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">


                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="template">Webinar Logo</label>
                                <input type="file" id="webinar_logo"  class="form-control">                         
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="department">Title</label>
                                <input type="text" id="webinar_title"  class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="from_date">Scheduled Date </label>
                                <input type="datetime-local" id="from_date" class="form-control" >
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="duration">Duration</label>
                                <select id="duration" class="form-control">
                                    <option value="5">5 Mins</option>
                                    <option value="10">10 Mins</option>
                                    <option value="15">15 Mins</option>
                                    <option value="20">20 Mins</option>
                                    <option value="25">25 Mins</option>
                                    <option value="30">30 Mins</option>
                                    <option value="35">35 Mins</option>
                                    <option value="40">40 Mins</option>
                                    <option value="45">45 Mins</option>
                                    <option value="50">50 Mins</option>
                                    <option value="55">55 Mins</option>
                                    <option value="60">60 Mins</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="template">Webinar Description Image</label>
                                <input type="file" id="webinar_descriptionImage"  class="form-control">                         
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="template">Webinar Description</label>
                                <textarea type="text" id="webinar_description"  class="form-control">   </textarea>                      
                            </div>
                        </div>

                        

                        

                        <!-- <div class="col-md-12">
                            <div class="form-group">
                                <label for="status">Status</label>
                                <input type="checkbox" id="status" class="form-control" formControlName="status">
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="buttons">
                        <input type="button" data-dismiss="modal" class="btn btn-outline-secondary" value="Cancel">
                        <input type="button" class="btn btn-primary update_agent" value="Submit" (click)="addWebinar()">
                    </div>
                </div>

        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-md" id="viewParticipans">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >List of Participants</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">


                            <div class="card-body p-0">
                                <div class="table-responsive">
                                   <table class="table table-bordered table-striped table-md">
                                     
                                    <tr>
                                        <th>S.No </th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <!-- <th>Country</th> -->
                                        <th>Organization</th>
                                    </tr>
            
                                    <tbody>
                                        <tr *ngFor="let item of participants_list;  let i=index">
                                            <td>{{0+i+1}}</td>
                                            <td>{{item.first_name}}</td>
                                            <td>{{item.last_name}}</td>
                                            <td>{{item.email}}</td>
                                            <!-- <td>  -</td> -->
                                            <td>{{item.organization}}</td>
                                        </tr>
                                        <tr *ngIf="recordNotFound == true">
                                         <td colspan="12">Data not found</td>
                                     </tr>
                                 </tbody>
                                 
                             </table>
                         </div>
                     </div>


                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="buttons">
                        <input type="button" data-dismiss="modal" class="btn btn-outline-secondary" value="Cancel">
                        <input type="button" class="btn btn-primary update_agent" value="Export CSV" (click)="exportcsv()">
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-md" id="adddata">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- <form [formGroup]="editDept" (ngSubmit)="add_webinar()"> -->
                <div class="modal-header">
                    <h5 class="modal-title" >Add</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">


                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="template">DateTime</label>
                                <input type="datetime-local" id="dateTime"  class="form-control">                         
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="duration">Duration</label>
                              <input type="number" min="1" id="durations" class="form-control" >
                              <p>Add Duration in Minutes</p>
                               <!-- <div *ngIf="this.adddata.durations">Number is required.</div>   -->
                            </div>
                           
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="subject">Subject </label>
                                <input type="text" id="subject" class="form-control" >
                            </div>
                        </div>

                      
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="description">Description </label>
                                <!-- <input type="text" id="descriptions" class="form-control" > --> 
                                <textarea type="text" id="descriptions"  class="form-control"></textarea>  
                                                      
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="extension">Extension</label>
                                <input type="text" id="extension"  class="form-control">  
                                                   
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="page_image">page_image</label>
                                <input type="file" id="page_image"  class="form-control">
                                
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="image_position">image_position</label>
                                <select id="image_position" class="form-control">
                                    <option value="1">Left</option>
                                    <option value="0">Right</option>
                                 
                                </select>
                            </div>
                        </div>

                        <!-- <div class="col-md-12">
                            <div class="form-group">
                                <label for="status">Status</label>
                                <input type="checkbox" id="status" class="form-control" formControlName="status">
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="buttons">
                        <input type="button" data-dismiss="modal" class="btn btn-outline-secondary" value="Cancel">
                    <input type="button" class="btn btn-primary update_agent" value="Submit" (click)="add_webinar()"> 
                    </div>
                </div>
            <!-- </form> -->
        </div>
    </div>
</div>

<!-- <div>
    <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
       <input type = "text" class = "fortextbox" name = "emailid" placeholder = "emailid" 
          formControlName="emailid">
       <br/>
       
       <input type = "password" class = "fortextbox" name="passwd" 
          placeholder = "passwd" formControlName = "passwd">
       <br/>
       
       <input type = "submit" class = "forsubmit" value = "Log In">
    </form>
 </div> -->
 <div class="modal fade bd-example-modal-md" id="edit_data">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
             <form [formGroup]="editdata" (ngSubmit)="editForm(id)">
                <div class="modal-header">
                    <h5 class="modal-title" >Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">


                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="template">DateTime</label>
                                <input type="datetime-local" id="dup_dateTime"  class="form-control" formControlName="dateTime" readonly placeholder="yyyy-MM-ddTHH:mm:ss" >                         
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="duration">Duration</label>
                              <input type="number" min="1" id="dup_durations" class="form-control" formControlName="durations" readonly>
                              <p>Add Duration in Minutes</p>
                               <!-- <div *ngIf="this.adddata.durations">Number is required.</div>   -->
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="subject">Subject </label>
                                <input type="text" id="dup_subject" class="form-control" formControlName="subject" readonly>
                            </div>
                        </div>

                      
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="description">Description </label>
                                <!-- <input type="text" id="descriptions" class="form-control" > --> 
                                <textarea type="text" id="dup_descriptions"  class="form-control" formControlName="descriptions"></textarea>  
                                                      
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="extension">Extension</label>
                                <input type="text" id="dup_extension" class="form-control" formControlName="extension" readonly>  
                                                   
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="page_image">page_image</label> 
                               <input type="file" id="dup_page_image"  class="form-control" formControlName="page_image"><img src="{{this.page_image}}" onerror="this.src='assets/images/no_image.jpg'" width="100px" height="100px">
    
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="image_position">image_position</label>
                                <select id="dup_image_position" class="form-control" formControlName="image_position" readonly>
                                    <option value="1">Left</option>
                                    <option value="0">Right</option>
                                 
                                </select>
                            </div>
                        </div>

                        <!-- <div class="col-md-12">
                            <div class="form-group">
                                <label for="status">Status</label>
                                <input type="checkbox" id="status" class="form-control" formControlName="status">
                            </div>
                        </div> -->
                    </div>
                </div>
                
                <span style="background-color:black" text="white">NOTE:CHANGES WILL NOT AFFECT IN 3CX</span>
                <div class="modal-footer">
                    <div class="buttons">
                        <input type="button" data-dismiss="modal" class="btn btn-outline-secondary" value="Cancel">
                    <input type="button" class="btn btn-primary update_agent" value="Save Changes" (click)="updateform()"> 
                    </div>
                    
                </div>
               
            </form>
        </div>
    </div>
</div>