i.agent_active.fa-circle.fas {
    color: rgb(158, 255, 2);
}
i.agent_inactive.fa-circle.fas {
    color: #da0303;
}
.search-results {
    height: 650px;
    overflow-x: hidden;
    flex: none;
  }
  .bold-name{
    font-weight: 900;
    color: black;
}
  /* .card.fullHeightCard {
    height: calc(100vh - 150px);
    overflow-y: hidden;
} */