<div class="section-body">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Queue List</h4>
                    <div class="addBtn">
                        <button type="button" class="btn btn-primary" (click)="addQueue()">+ Add Queue</button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped table-md">
                            <tr>
                                <td colspan="12" class="search-text-tbl">
                                    <div class="input-group"><input type="text" class="form-control" (keyup.enter)="queueList({'search_text':queue_search.value})" #queue_search>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" (click)="queueList({'search_text':queue_search.value})"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                             <th style="width: 20px;">
                              <div class="pretty p-default">
                                  <input type="checkbox">
                                  <div class="state p-primary">
                                    <label></label>
                                </div>
                            </div>   
                        </th>
                        <th>Extension</th>
                        <th>Queue Name</th>
                        <th>Polling Strategy</th>
                        <th>Timeout</th>
                        <th>Action</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>
                                <div class="pretty p-default">
                                  <input type="checkbox">
                                  <div class="state p-primary">
                                    <label></label>
                                </div>
                            </div>
                        </td>
                        <td>801</td>
                        <td>Test 1</td>
                        <td>Prioritized Hunt</td>
                        <td>30</td>
                        <td>
                            <span class="user-icon" style="cursor: pointer;"><i class="far fa-edit"></i></span>
                            <span class="user-icon" style="cursor: pointer;"><i class="far fa-trash-alt"></i></span>
                        </td>
                    </tr>
                     <tr>
                            <td>
                                <div class="pretty p-default">
                                  <input type="checkbox">
                                  <div class="state p-primary">
                                    <label></label>
                                </div>
                            </div>
                        </td>
                        <td>808</td>
                        <td>Test 808</td>
                        <td>Prioritized Hunt</td>
                        <td>30</td>
                        <td>
                            <span class="user-icon" style="cursor: pointer;"><i class="far fa-edit"></i></span>
                            <span class="user-icon" style="cursor: pointer;"><i class="far fa-trash-alt"></i></span>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
</div>
</div>
</div>


